In [70]:
import pandas as pd
from pandas import DataFrame
from sklearn.ensemble import RandomForestClassifier
from sklearn import tree
from sklearn.metrics import accuracy_score

from src.constants import SEX_HEADER, SURVIVED_HEADER, SEX_ENCODED, AGE_HEADER, PCLASS_HEADER
from src.prediction_model_utils.create_submission import create_submission_csv
from src.prediction_model_utils.data_massager import message_data
from src.prediction_model_utils.data_retriever import get_x, get_y

titanic_training_df: DataFrame = pd.read_csv("../data/train.csv")
titanic_training_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [71]:
titanic_features_df: DataFrame = message_data(titanic_training_df)
titanic_features_df.head()

   Survived     Sex   Age  Pclass  Sex_Encoded
0         0    male  22.0       3            0
1         1  female  38.0       1            1
2         1  female  26.0       3            1
3         1  female  35.0       1            1
4         0    male  35.0       3            0

In [72]:
training_x = get_x(titanic_training_df)
training_y = get_y(titanic_training_df)

decision_tree_overfitted = tree.DecisionTreeClassifier()
decision_tree_overfitted = decision_tree_overfitted.fit(
    training_x,
    training_y
)

KeyError: "['Sex_Encoded'] not in index"

In [ ]:
tree.plot_tree(decision_tree_overfitted)

In [ ]:
overfitted_train_predictions = decision_tree_overfitted.predict(training_x)
overfitted_train_accuracy = accuracy_score(training_y, overfitted_train_predictions)

print(f"Overfitted Training accuracy: {overfitted_train_accuracy}")

In [ ]:
decision_tree_fitted = tree.DecisionTreeClassifier(max_depth=5, min_samples_split=20, min_samples_leaf=10)
decision_tree_fitted = decision_tree_fitted.fit(
    training_x,
    training_y
)

In [ ]:
tree.plot_tree(decision_tree_fitted)

In [ ]:
fitted_train_predictions = decision_tree_fitted.predict(training_x)
fitted_train_accuracy = accuracy_score(training_y, fitted_train_predictions)

print(f"Fitted Training accuracy: {fitted_train_accuracy}")

In [ ]:
randomForestClassifier = RandomForestClassifier(n_estimators=100, max_depth=5, min_samples_split=20, min_samples_leaf=10)
randomForestClassifier.fit(training_x, training_y)

In [ ]:
tree.plot_tree(randomForestClassifier.estimators_[0])

In [ ]:
forest_train_predictions = randomForestClassifier.predict(training_x)
forest_train_accuracy = accuracy_score(training_y, forest_train_predictions)

print(f"Forest Training accuracy: {forest_train_accuracy}")

In [ ]:
titanic_test_df: DataFrame = pd.read_csv("../data/test.csv")
titanic_test_df = message_data(titanic_test_df)
titanic_test_df.head()

In [68]:
test_x = get_x(titanic_test_df)

random_forest_survival_prediction = randomForestClassifier.predict(test_x)
random_forest_submission_df = create_submission_csv(titanic_test_df, random_forest_survival_prediction)
random_forest_submission_df.head()

NameError: name 'create_submission_csv' is not defined

In [ ]:
decision_tree_fitted_survival_prediction = decision_tree_fitted.predict(test_x)
decision_tree_fitted_submission_df = create_submission_csv(titanic_test_df, decision_tree_fitted_survival_prediction)
decision_tree_fitted_submission_df.head()